{
  "singleQuote": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "twMerge", "clsx"],
  "tailwindStylesheet": "./packages/resource-ui/src/styles/global.css"
}
