.panel > .wavefront-sensors {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .p-button {
    margin: 0;
    width: 100%;
    justify-content: center;
    padding: 2px;
    font-size: 0.8rem;
  }

  .p-inputswitch {
    height: 20px;
    align-self: center;
  }

  button.p-component.p-button {
    margin-right: 0;
  }

  .p-inputtext {
    width: 100%;
  }

  > .title {
    flex-shrink: 1;
  }

  > .body {
    flex: 1 0 auto;
    max-height: calc(100% - 20px);
    display: flex;
    flex-direction: column;

    > .sensors {
      > .wfs {
        width: 33.3333%;
        float: left;
        border-top: 1px solid var(--surface-border);
        position: relative;

        &:not(:last-child) {
          border-right: 1px solid var(--surface-border);
        }

        > .wfs-name {
          position: absolute;
          top: 2px;
          left: 2px;
          background-color: transparent;
          color: var(--primary-color-text);
          z-index: 10;
        }

        > img {
          width: 100%;
          scale: 1;
        }

        > .controls {
          display: grid;
          grid-template-areas:
            'g11 g12 g13'
            'g21 g22 g23'
            'g3 g3 g3';
          grid-template-columns: 35px 1fr 40px;
          grid-auto-rows: 26px;
          gap: 0 4px;
          place-items: center center;
          padding: 2px 4px;
        }

        > span {
          text-align: center;
          align-self: center;
        }
      }
    }

    > .acquisition-camera {
      border-top: 1px solid var(--surface-border);

      .left {
        width: 100%;
        border-right: 1px solid var(--surface-border);
        position: relative;
        display: flex;
        flex-direction: column;

        > .image {
          flex-grow: 1;
          display: flex;
          align-items: center;
          border-bottom: 1px solid var(--surface-border);

          > .ac-name {
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: transparent;
            color: var(--primary-color-text);
            z-index: 10;
          }

          > img {
            width: 100%;
            scale: 1;
          }
        }

        > .controls {
          display: grid;
          grid-template-columns: 35px 75px 1fr 35px 20px 40px 40px;
          grid-template-areas: 'g1 g2 g3 g4 g5 g6 g7';
          place-items: center center;
          gap: 0 6px;
          padding: 2px 4px;
        }

        > span {
          text-align: center;
          align-self: center;
        }
      }

      .main-controls {
        display: flex;
        flex-direction: column;
        width: 100%;

        .handset {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .correction-table {
            width: 100%;

            table {
              width: 100%;
              border-collapse: collapse;
              margin-bottom: 6px;

              .center-cell {
                text-align: center;
              }
            }

            .p-button {
              padding: 5px;
            }
          }

          .selector-group {
            display: grid;

            label {
              align-self: center;
            }

            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 8px 0;
          }

          .input-divider {
            align-self: normal;
          }

          .coordinates-input-row {
            justify-content: space-around;

            .p-divider {
              margin-left: 0;
              margin-right: 0;
            }
          }

          .manual-input {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            align-items: center;
            gap: 8px;

            .apply-button {
              width: 100%;
              padding: 5px;
              grid-column: 1 / span 2;
            }
          }

          .coordinates-input {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 6px;

            .coordinates-buttons {
              display: grid;
              grid-auto-columns: 26px;
              grid-auto-rows: 26px;
              grid-template-areas:
                'gul gu gur'
                'gl gm gr'
                'gdl gd gdr';
            }

            .coordinates-stepsize {
              display: flex;
              align-items: center;
              gap: 16px;
              flex-direction: column;
              margin-bottom: 16px;

              > .p-slider {
                width: 100%;
              }
            }
          }

          .control-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            .p-button {
              padding: 5px;
            }
          }

          .control-row.buttons .p-button {
            width: auto;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
    }

    > .logs-table {
      max-height: 100%;
      overflow-y: auto;

      > .title {
        border-top: 1px solid var(--surface-border);
      }

      .p-datatable {
        thead tr th {
          background-color: var(--surface-1) !important;
        }

        .warn {
          background-color: var(--orange-700);
        }

        .error {
          background-color: var(--red-700);
        }

        .log-message {
          word-break: break-all;
        }
      }
    }
  }
}
