@import url('./lucuma-ui.scss');
@import url('./helpers.css');

:root {
  --navigate-accent-color: rgb(144 238 144 / 80%);
  --input-font-size: 0.8rem;
}

/* Base styles */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--surface-0);
  font-family: var(--font-family);
}

a {
  text-decoration: inherit;
}

#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.p-inputnumber {
  .p-inputtext {
    font-size: var(--input-font-size);
    padding: 0;
    text-align: center;
  }
}

/* Smaller inputs */
.p-dropdown {
  width: 100% !important;

  .p-dropdown-trigger {
    width: initial !important;

    > .p-dropdown-trigger-icon {
      margin: 0 2px;
      font-size: var(--input-font-size);
    }
  }

  .p-dropdown-label {
    display: flex;
    align-items: center;

    &.p-inputtext {
      width: 40px;
      font-size: var(--input-font-size);
      padding: 3px;
      line-height: normal;
    }
  }
}

.p-inputtext.p-component {
  font-size: var(--input-font-size);
  width: 100% !important;
  height: 100%;
}

.p-component {
  &.p-button,
  .p-button {
    margin: 0;
    padding: 4px;
    font-size: var(--input-font-size);
  }
}

button.p-component.p-button {
  margin-right: 0;
}

.mutation-button-icons {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.p-datatable {
  .p-datatable-thead {
    > tr {
      > th {
        padding: 2px !important;
        font-size: 0.9rem;
      }
    }
  }

  .p-datatable-tbody {
    > tr {
      > td {
        padding: 2px !important;
        font-size: 0.9rem;
      }
    }
  }
}

.dark .p-dialog .p-dialog-header,
.light .p-dialog .p-dialog-header {
  padding: 1.5rem 1.5rem 0.5rem;
}

.p-overlaypanel {
  .p-overlaypanel-content {
    padding: 4px !important;

    .p-button {
      padding: 2px 4px;
      width: 100%;
    }

    .p-divider {
      margin: 4px 0;
    }
  }
}

.modal-footer {
  button.p-component.p-button {
    padding: 5px 10px;
  }
}

.p-toast-message-content {
  .p-toast-message-icon {
    display: none;
  }
}

.p-toast {
  z-index: 1201;
}

.graphql-error-toast .p-toast-detail {
  font-size: 0.8rem;

  /* Whitespaces in the error message are preserved */
  white-space: pre-wrap;
}

.under-construction {
  svg {
    color: var(--yellow-400) !important;
  }

  .p-inputnumber-input,
  .p-checkbox-box,
  .p-dropdown,
  button.p-button {
    background-color: transparent !important;
    border-color: var(--yellow-400) !important;
    color: var(--yellow-400) !important;
    cursor: not-allowed;

    > span {
      color: var(--yellow-400) !important;
    }

    svg {
      color: var(--yellow-400) !important;
    }
  }
}

.dark .p-checkbox .p-checkbox-box,
.light .p-checkbox .p-checkbox-box {
  border-width: 1px;
}

.dark .p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--blue-400);

  > span {
    color: var(--blue-400);
  }
}

.p-dropdown-item {
  font-size: 0.9rem;
}

.p-dialog {
  max-width: 90vw;
  min-width: 50vw;
}

.p-multiselect-panel .p-multiselect-header {
  display: none;
}

/* Under construction styles */
button.under-construction {
  background-color: transparent !important;
  border-color: var(--yellow-400) !important;
  color: var(--yellow-400) !important;
  cursor: not-allowed;
}

.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-button-popup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;

  .confirm-button-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .confirm-button-comment-label {
    font-size: 0.9rem;
  }

  .cal-params-save-button textarea {
    font-family: monospace;
  }
}

.cal-param-input-filled input {
  border-color: var(--cyan-400);
}
